<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间 接口全限定名-->
<mapper namespace="com.nojava._02_mybatis.StudentMapper">
    <resultMap type="Student" id="StudentResult">
        <!--property和实体对应 column和数据库字段对应-->
        <id property="stuid" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="password" column="password" />
    </resultMap>
    <!--最后不要分号;  可能会报错-->
    <select id="findAllStudents" resultMap="StudentResult">
					select * from student
	</select>
    <!--如果返回类型为实体 数据库字段和实体类型字段不一致时，可以起别名和实体保持一致 参数不适用实体，则不需要保持一致-->
    <select id="findStudentById" parameterType="int" resultType="Student">
				 select id AS stuid, name, password
				 from student where id=#{id1}
	</select>
    <insert id="insertStudent" parameterType="Student">
				 insert into student(id,name,password)
				 values(#{stuid},#{name},#{password})
	</insert>
</mapper>